.idea/
.vs/
.vscode/
$installRoot/

build/
out/
dist/
deps/
RTX_Video_SDK_v1.1.0/
Video_Codec_Interface_13.0.37/

app/flutter_app/.dart_tool/
app/flutter_app/.idea/
app/flutter_app/build/
app/flutter_app/windows/flutter/ephemeral/
app/flutter_app/windows/x64/

app/native/build/
app/native/out/
app/native/.cmake/

*.iml
*.user
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.recipe
*.tlog
*.cache
*.tmp
*.temp
